<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.parkskocjanskejame">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NFCScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla3b"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cestitamo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla3a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla19"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tabla26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageFS"
            android:theme="@style/fullscreen" />
        <activity
            android:name=".MyWebView"
            android:screenOrientation="landscape" />
        <activity android:name=".Info" />

        <service
            android:name=".Tracking"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>